html {

	height: 100%;
	padding: 0;
	margin: 0;

}

body {

	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #fff;
	overflow: hidden;

}

main {

	width: 100%;
	height: 100%;

	--address-width: 420px;
	--deliver-width: 370px;
	--padding-width: 8px;
	--line-color: #444;

}

div.address-widget {

	position: absolute;
	left: var(--padding-width);
	top: var(--padding-width);
	width: var(--address-width);
	height: calc(100% - var(--padding-width) * 2);

}

div.deliver-widget {

	position: absolute;
	right: var(--padding-width);
	top: var(--padding-width);
	width: var(--deliver-width);
	height: calc(100% - var(--padding-width) * 2);

}

div.document-widget.drag-over div.outline {

	pointer-events: none;

}

div.document-widget {

	position: absolute;
	left: calc(var(--address-width) + 2 * var(--padding-width));
	top: var(--padding-width);
	height: calc(100% - var(--padding-width) * 2);
	width: calc(100% - var(--address-width) - var(--deliver-width) - var(--padding-width) * 4);
	background-color: rgba(0,0,0,0.1);

}

div.document-widget div.csv {

	position: absolute;
	left: 0;
	top: 0;
	z-index: 50;
	background-color: rgba(255, 255, 255, 0.4);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	text-align: center;
	transform: scale(0,0);
	transition: all 200ms;
	pointer-events: none;

}

div.document-widget.drag-over div.csv {

	transform: scale(1, 1);

}


div.address-widget div.info {

	width: calc(100% - 2px);
	border: 1px solid var(--line-color);
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: var(--padding-width);

}

div.address-widget div.info div.header {

	height: 34px;
	border-bottom: 1px solid var(--line-color);
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 34px;
	text-indent: 8px;
	background-color: #efefef;

}

div.address-widget div.info div.body {

	background-color: #fff;
	padding: 4px;
	font-size: 14px;

}

div.address-widget div.info div.body div.row {

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;

}

div.address-widget div.info div.body div.row:last-child {

	padding-bottom: 10px;

}

div.address-widget div.info div.body div.row li.null {

	visibility: hidden;
	pointer-events: none;

}

div.address-widget div.info div.body div.row li.active {

	box-shadow: rgb(67, 76, 207) 0px 0px 5px 0px inset;

}

div.address-widget div.info div.body div.row li:hover {

	cursor: pointer;
	background-color: rgba(0,0,0,0.1);

}

div.address-widget div.info div.body div.row li {

	list-style: none;
	width: 30%;
	border: 2px solid rgb(51, 51, 51);
	border-radius: 4px;
	text-align: center;
	border-radius: 5px;
	height: 25px;
	line-height: 25px;

}

div.address-widget div.info div.body table {

	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

div.address-widget div.info div.body table td {

	padding-top: 4px;
	padding-bottom: 4px;

}

div.address-widget div.info div.body table tr td:first-child {

	width: 90px;

}

div.address-widget div.info div.body table tr td input[type="text"] {

	width: calc(100% - 10px);
	padding: 4px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	text-indent: 8px;

}

div.address-widget div.info div.rank {

	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;

}

div.address-widget div.info div.rank div.block {

	width: 30px;
	height: 30px;
	display: block;
	margin: auto;
	border: 2px solid #333;
	border-radius: 4px;
	line-height: 30px;
	text-align: center;
	font-size: 15px;

}

div.address-widget div.info div.rank div.block:hover {

	cursor: pointer;
	background-color: rgba(0,0,0,0.1);

}

div.address-widget div.info div.rank div.block.active {

	box-shadow: inset 0px 0px 5px 0px rgba(67,76,207,1);

}

div.document-widget div.outline {

	width: calc(100% - 2px);
	height: calc(100% - 2px);
	border: 1px solid var(--line-color);

}

div.document-widget div.outline div.thead {

	height: 34px;
	border-bottom: 1px solid var(--line-color);
	background-color: #efefef;

}

div.document-widget div.outline div.tbody {

	height: calc(100% - 35px);
	background-color: #fff;
	overflow-y: scroll;


}

div.document-widget div.outline div.thead table {

	width: calc(100% - var(--scroll-width));
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	font-size: 14px;

}

div.document-widget div.outline div.thead table td {

	border-right: 1px solid var(--line-color);

}

div.document-widget div.outline div.tbody table {

	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	font-size: 14px;

}

div.document-widget div.outline div.tbody table td {

	border-right: 1px solid var(--line-color);
	border-bottom: 1px solid var(--line-color);
	padding-top: 4px;
	padding-bottom: 4px;

}

div.document-widget div.outline div.tbody table tr:last-child td {

	border-bottom: none;

}

div.document-widget div.outline div.tbody table tr:nth-child(even) {

	background-color: #f2f2f2;

}

div.document-widget div.outline td input {

	width: calc(100% - 10px);

}

div.document-widget div.outline td.no {

	width: 36px;

}

div.document-widget div.outline td.type {

	width: 40px;

}

div.document-widget div.outline td.code {

	width: 80px;

}

div.document-widget div.outline td.name {

	width: 180px;

}

div.document-widget div.outline td.standard {

	width: 230px;

}

div.document-widget div.outline td.unit {

	width: 50px;

}

div.document-widget div.outline td.count-per-case {

	width: 50px;

}

div.document-widget div.outline td.order-count {

	width: 60px;

}

div.document-widget div.outline td.unit-count {

	width: 60px;

}

div.document-widget div.outline td.sales-tax {

	width: 80px;

}

div.document-widget div.outline td.subtotal {

	width: 90px;

}

div.document-widget div.outline td.base-price {

	width: 60px;

}

div.document-widget div.outline td.sales-price {

	width: 90px;

}

div.document-widget div.outline td.case-price {

	width: 90px;

}

div.document-widget div.outline td.package {

	width: 40px;

}

div.document-widget div.outline td.lot {

	width: 60px;

}

div.document-widget div.outline td.notes {

}

div.document-widget div.outline td.date {

	width: 90px;

}

div.deliver-widget div.totals {

	width: calc(100% - 2px);
	border: 1px solid var(--line-color);
	border-radius: 4px;
	overflow: hidden;
	min-height: 100px;

}

div.deliver-widget div.totals.drop {

	margin-bottom: 8px;

}

div.deliver-widget div.totals div.header {

	height: 34px;
	border-bottom: 1px solid var(--line-color);
	line-height: 34px;
	font-size: 14px;
	font-weight: bold;
	text-indent: 8px;
	letter-spacing: 1px;
	background-color: #efefef;
	position: relative;

}

div.deliver-widget div.totals div.header button {

	position: absolute;
	right: 4px;
	top: 6px;

}

div.deliver-widget div.totals div.body {

	padding: 4px;
	background-color: #fff;
	min-height: 80px;

}

div.deliver-widget div.totals div.body table {

	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	font-size: 14px;

}

div.deliver-widget div.totals div.body table tr.fade {

	color: #bbb;

}

div.deliver-widget div.totals div.body table td {

	padding-top: 5px;
	padding-bottom: 5px;

}

div.deliver-widget div.totals div.body table tr td:last-child {

	text-align: right;

}

div.deliver-widget div.settings {

	width: calc(100% - 2px);
	border: 1px solid var(--line-color);
	border-radius: 4px;
	margin-top: var(--padding-width);
	overflow: hidden;

}

div.deliver-widget div.settings div.header {

	height: 34px;
	border-bottom: 1px solid var(--line-color);
	background-color: #efefef;
	line-height: 34px;
	text-indent: 8px;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: bold;

}

div.deliver-widget div.settings div.body {
	
	padding: 4px;
	background-color: #fff;

}

div.deliver-widget div.settings div.body table {

	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	font-size: 14px;

}

div.deliver-widget div.settings div.body table td {

	padding-top: 4px;
	padding-bottom: 4px;


}

div.deliver-widget div.settings div.body table tr:nth-child(odd) {

	background-color: #f2f2f2;

}

div.deliver-widget div.settings div.body table tr td:first-child {

	width: 120px;

}

div.deliver-widget div.settings div.body table td input[type="text"] {

	width: calc(100% - 15px);
	text-align: right;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-left: 4px;

}

div.deliver-widget div.settings div.body table td select {

	width: calc(100% - 15px);
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-left: 4px;

}

div.deliver-widget div.settings div.body button.submit {

	width: 100%;
	border: 1px solid var(--line-color);
	color: #000;
	background-color: transparent;
	padding: 12px 0;
	border-radius: 10px;
	margin: 10px auto;

}

div.deliver-widget div.settings div.body button.submit:hover {

	cursor: pointer;
	background-color: rgba(0,0,0,0.1);

}
